<!doctype html>
<html lang="en-US">
  <head>
    <title>File-Based CMS</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"
    <meta charset="UTF-8">
  </head>
  <body>
    <%= yield %>
  </body>
</html>