<!doctype html>
<html lang="en-US">
  <head>
    <title>File-Based CMS</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <meta charset="UTF-8">
  </head>
  <body>
    <% if session[:message] %>
      <p id="message"><%= session.delete :message %></p>
    <% end %>
    
    <%= yield %>
  </body>
</html>